
/* .lc_menu{position:absolute;bottom:0;} */
.lc_menu ul{padding:.169082rem .008052rem 0;border-top:.008052rem solid #58BC58;overflow:hidden;background:#F9F9F9;}
.lc_menu li{float: left;width:1.996779rem;text-align:center;}
/* .lc_menu li i{display:block;width:.676329rem;height:.676329rem;margin:0 auto;background:url('../../img/menu_bg.fw.png') no-repeat 0 0;} */
.lc_menu li a{line-height:.338164rem;font-size:.241546rem;color:#213F71;}
.lc_menu li a img{width:.676329rem;height:.724638rem;margin:0 auto;}