.user{display:flex;flex-direction: column;}
.user .user-t{height: 540px;background:#60483C;display:flex;align-items: center;padding-left: 100px;}
.user .user-t .pic{width: 200px;height: 200px;background:url(../../img/pic.jpg) no-repeat;border-radius: 50%;}
.user .user-t a{font-size: 50px;color:#fff;}
.user .user-b{padding-left: 45px;}
.user .user-b li{position:relative;}
.user .user-b li i{position:absolute;display:block;width: 55px;height: 50px;background:url('../../img/user_sprite.png') no-repeat 0 0;top: 60px;left: -10px;}
.user .user-b li:nth-child(2) i{background-position: -75px 0;}
.user .user-b li:nth-child(3) i{background-position: -150px 0;}
.user .user-b li:nth-child(4) i{background-position: -230px 0;}
.user .user-b li:nth-child(5) i{background-position: -310px 0;}
.user .user-b li a{display:block;height: 150px;line-height: 150px;font-size: 40px;border-bottom: 1px solid #ccc;color:#313131;padding-left: 100px;}
