.help{display:flex;flex-direction: column;}
.help h1{height: 1.207729rem;font-size: 50px;line-height: 1.207729rem;color:#000;text-align: center;}
.help ul{padding-left: .402576rem;}
.help ul li a{display:block;height: 1.272142rem;border-bottom: 1px solid #ccc;font-size: 48px;line-height: 1.272142rem;color:#000;}
.help .btn{height: 1.127214rem;background:#B9CFE6;font-size: 44px;color:#fff;text-align: center;margin:1.610306rem .402576rem 0 .402576rem;border-radius: .241546rem;border:0 none;}