.know{display:flex;flex-direction: column;}
.know h1{height: 1.207729rem;font-size: .402576rem;line-height: 1.207729rem;color:#000;}
.know p{font-size: .273752rem;line-height: .644122rem;text-indent: 2em;}