html,body{height: 100%;}
.register{height: 100%;display: flex;flex-direction: column;padding:0 .925926rem;padding-top: 1.610306rem;}
.register input{height: 1.529791rem;font-size: .322061rem;border:0 none;border-bottom:.008052rem solid #ccc;}
.register .btn{background:#B9CFE6;color:#fff;font-size: .354267rem;border-radius: .144928rem;}
.register p{height: .805153rem;line-height: .805153rem;font-size: .354267rem;color:blue;}
.register .error{font-size: .354267rem;color:red;}
